h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: red;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: purple;
}

.article image {
    text-align: center;
}

.website {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.time {
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}

p {
    font-family: 'Times New Roman', Times, serif;
}
